.modulosmedio { border-bottom:solid 2px #000; margin-top:15px; }
.modulosmedio-top { margin-top:15px; }
.Gultimosvitadosprod { border-bottom:solid 1px #CCC; margin-top:10px; }
.Gultimosvitadosprodprecio { padding-bottom:7px; padding-top:7px; }
.Fprecio { font-size:10px; text-align:left; color:#777; text-decoration:none; }
.FProductos { font-size:11px; color:#000; text-decoration:underline; text-transform:uppercase; }
a.FProductos:hover { color:#333;  }
.divComprar { margin-top:5px; margin-bottom:8px; }/*11/12*/
.divInfo { border-right: solid 1px #000; padding-right:4px; height:10px; text-align:left;  }/*11/12*/
.divComprarPedir { padding-left:4px; height:10px; text-align:left; }/*11/12*/
.Fautores0 { font-size:10px; text-align:left; color:#777; text-decoration:underline; text-transform:uppercase; }

/*detalles*/
a.Fautores0:hover { color:#000; }
.FCategorias { font-size:11px; text-align:left; color:#666; text-decoration:underline; line-height: 16px; }
a.FCategorias:hover { color:#000; }
.areaExtra { border: solid 1px #999; background-color:#EFF0F2; padding:7px; margin-bottom:15px; }
.areaExtra2 { padding: 8px 0px 8px 0px; border-bottom:solid 1px #999; text-align:left; }
.areaExtra3 { padding-top: 8px; text-align:left; }
.imagenPrincipal { border:solid 1px #CCC; margin-right:10px; text-align:left; }
.bAmpliarImagen { margin-top: 10px; }
.celdaDetalle { padding-top:5px; vertical-align:top; }
.celdaDetalle2 { padding-top:10px; vertical-align:bottom; }
.areaCompra { background-color:#EFF0F2; border-top: solid 3px #000; border-bottom: solid 3px #000; padding:7px 5px 7px 5px; margin-top: 10px; margin-bottom:10px; }

.modulosmedioDetalle { border-bottom:solid 3px #000; margin-bottom:15px; }
.modulosmedioDetalle2 { margin-bottom:10px; margin-top:10px; }
.modulosmedioDetalle3 { margin-bottom:7px; margin-top:5px; }


.modulosmediolista { border-right:solid 1px #CCC; text-align:left; padding-top:2px; }
.modulosmediolista2 { text-align:left; padding-left:10px; padding-top:2px;  }
.titulosceldasDetalle { background-color:#FFF; padding:7px 0px 7px 0px; text-align:left; border-bottom:solid 1px #000; border-top:solid 1px #666; }
.modulovermascategorias { text-align:left; padding:7px 0px 7px 0px; border-top: solid 3px #CCC; border-bottom: solid 3px #CCC; }
.tituloceldasComentario { background-color:#FFF; padding:7px 0px 7px 0px; text-align:left; border-bottom:solid 1px #000; border-top:solid 1px #666; }


/*.fontautoresDetalle { font-size:10px; color:#000; text-decoration:none; letter-spacing:2px; line-height: 11px; }*/

.moduloacerca { border: solid 3px #CCC; padding:10px; margin-top:5px; margin-bottom:15px;}
.moduloacercabis { border: solid 3px #CCC; padding:10px; margin-top:5px; }
.moduloacerca2 { border-left: solid 2px #000; border-bottom:solid 1px #CCC; padding:5px; }
.moduloacerca2Des { border-left: solid 2px #CCC; border-bottom:solid 1px #CCC; padding:5px; }
.modulosinopsis  { padding: 7px 0px 7px 0px; text-align:left; }


/* Buscador */
.resultadonum { text-align:center; border-top: solid 3px #CCC; border-bottom: solid 3px #CCC; margin: 0px 0px 15px 0px; padding: 5px 0px 5px 0px}
.modulobuscador { border-bottom:solid 3px #CCC;}
.moduleproductob { margin-bottom:10px; border-bottom:solid 1px #666; padding-bottom: 10px; }
.celdafoto { border-right:solid 1px #CCC; vertical-align:top; text-align:center; }
.celdacontenido { padding-left: 10px; text-align:left; }
.celdapreciocomprar { padding-left: 10px; text-align:left; height:35px; vertical-align:bottom; }
.celdapaginas { padding-top:8px; padding-bottom: 18px; text-align:center; }
.moduloorden { border-top:solid 1px #666; border-bottom:solid 1px #666; padding:10px 7px 12px 7px ; background-color:#EFF0F2; text-align:left; }
.moduloordencelda { padding-top:7px; }

.tablabavanzada { background-color:#F7F8F9; border:solid 1px #CCC; padding:10px; margin-top:5px; margin-bottom:20px; }
.tablaaccesoavanzadas { border-top: solid 1px #000; border-bottom: solid 1px #000; margin: 0px 0px 15px 0px; padding: 10px 0px 10px 0px}


.rAtrPri {  color:#000088; text-decoration:underline;}
.rTxt {color:#000088;}

.modulorecomendadosd { border-bottom:solid 3px #000; margin-top:15px; padding-bottom:7px; }
.titulosceldas { background-color:#000; padding:6px 0px 6px 3px; text-align:left; }

.toptabla { border-bottom: solid 1px #CCC; margin: 6px 0px 0px 0px; }
.topnumeros { padding-right:5px; vertical-align:top; text-align:left; }
.topcompracelda { padding:5px 0px 5px 0px; vertical-align:top; text-align:left; font-size:1px }
.topvermas { padding:10px 0px 10px 0px; border-bottom: solid 3px #000;}

/* Ranking */
.rankingTitulo1 { width:390px; border-top:solid 1px #999; border-bottom:solid 1px #999; padding:5px 0px 5px 0px; margin-bottom:20px; float:left; text-align:left; }
.rankingTitulo2 { width:390px; border-top:solid 1px #999; padding:6px 0px 6px 0px; float:left; border-bottom:solid 1px #999; text-align:left; }
.rankingFicha { width:390px; margin-bottom:15px; float:left; }
.rankingFichaTit { width:390px; float:left; background-color:#F4F5F7;  }
.rankingFichaNum { float:left; border: solid 1px #333; width:35px; height:20px; text-align:center; padding-top:10px; }
.rankingFichaTitInt  { float:left; margin-top:3px; margin-left:7px; text-align:left; }
.rankingFichaContent { float:left; margin-left:44px; width:346px; border-bottom:solid 1px #CCC; padding-bottom:9px; margin-top:7px; float:expression('none');  }
.rankingFichaTapa { float:left; border-right:solid 1px #CCC; width:65px; text-align:center; margin-right:7px; }
.rankingFichaTexto { float:right; text-align:left; width:270px; }
.rankingPrecioMod { float:right; width:270px; margin-top:15px; text-align:left; }
#rankingPrecio { float:left; text-align:left; }
#rankingInfoComprar { float:right; }