<tmpl_if seccionLIBROS>
	<title>Venta de libros online - Comprar libros por internet - Libros en español</title>
	<meta name="description" content="Tematika.com - Librería virtual. Venta de libros por internet. Comprar libros online. Envíos a domicilio a todo el mundo. Ofertas y promociones. Gran variedad y disponibilidad. Libros en español." />
	<meta name="keywords" content="libros, librería, venta, online, internet, comprar, compra, español, envios, domicilio, todo el mundo, argentina, tematika" />
	<meta name="distribution" content="Global" />
	<meta name="copyright" content="Tematika.com" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta name="AUTHOR" content="Tematika.com" />
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<meta name="Resource-type" content="Document" />
</tmpl_if>
<tmpl_if seccionMUSICA>
	<title>Disquer&iacute;a virtual - Venta de discos online - Comprar m&uacute;sica por internet - CDs</title>
	<meta name="description" content="Tematika.com - Disquería online. Venta de música por internet. Comprar CDs, discos. Envíos a domicilio a todo el mundo. Ofertas y promociones. Gran variedad y disponibilidad." />
	<meta name="keywords" content="musica, discos, cds, venta, disquería, online, internet, comprar, envios, domicilio, todo el mundo, argentina, tematika" />
	<meta name="distribution" content="Global" />
	<meta name="copyright" content="Tematika.com" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta name="AUTHOR" content="Tematika.com" />
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<meta name="Resource-type" content="Document" />
</tmpl_if>
<tmpl_if seccionPASATIEMPOS>
	<title>Pasatiempos - Venta online de agendas, almanaques, calendarios, juguetes, juegos de mesa, regalos - Comprar por internet</title>
	<meta name="description" content="Tematika.com - Pasatiempos. Venta online de agendas, almanaques, calendarios, juguetes, juegos de mesa, regalos.  Comprar música por internet. Envíos a domicilio a todo el mundo. Ofertas y promociones. Gran variedad y disponibilidad." />
	<meta name="keywords" content="pasatiempos, agendas, almanaques, calendarios, juguetes, juegos de mesa, regalos, venta, online, internet, comprar, envios, domicilio, todo el mundo, argentina, tematika" />
	<meta name="distribution" content="Global" />
	<meta name="copyright" content="Tematika.com" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta name="AUTHOR" content="Tematika.com" />
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<meta name="Resource-type" content="Document" />
</tmpl_if>
<tmpl_if seccionPELICULAS>
	<title>Venta de películas online - Videoteca - Comprar películas, DVD, VHS, videos por internet</title>
	<meta name="description" content="Tematika.com - Videoteca online. Venta de películas. Compre DVD, VHS, videos por internet. Envíos a domicilio a todo el mundo. Ofertas y promociones. Gran variedad y disponibilidad." />
	<meta name="keywords" content="peliculas, venta, videoteca, online, internet, comprar, DVD, DVDs, VHS, videos, envios, domicilio, todo el mundo, argentina, tematika" />
	<meta name="distribution" content="Global" />
	<meta name="copyright" content="Tematika.com" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta name="AUTHOR" content="Tematika.com" />
	<meta name="AuthorMetatags" content="NetOne" />
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<meta name="Resource-type" content="Document" />
</tmpl_if>
<tmpl_if subcategoria>
	<title><tmpl_var descripcionCategoria> - Venta de <tmpl_var descripcionCategoriaGeneral> / <tmpl_var descripcionCategoria></title>
	<meta name="description" content="Tematika.com: Venta de <tmpl_var descripcionCategoriaGeneral> online. <tmpl_var descripcionCategoria>. Envíos a domicilio. Ofertas y promociones. Gran variedad y disponibilidad." />
	<meta name="keywords" content="<tmpl_var descripcionCategoriaGeneral>, <tmpl_var descripcionCategoria>, venta, online, internet, comprar, compra, español, envios, domicilio, argentina, tematika" />
	<meta name="distribution" content="Global" />
	<meta name="copyright" content="Tematika.com" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta name="AUTHOR" content="Tematika.com" />
	<meta name="AuthorMetatags" content="NetOne" />
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<meta name="Resource-type" content="Document" />
</tmpl_if>