/*body { margin: 20px; font-family:Tahoma; background-color:#EFF0F0; text-align:center; }*/
body { margin:20px; font-family:Tahoma; background-color:#EFF0F0; text-align:center; height:100%; }



.Fautores0 { font-size:10px; text-align:left; color:#777; text-decoration:underline; text-transform:uppercase; }
a.Fautores0:hover { color:#000; }
/* Generales */
.Gtablaprincipal { background-color:#FFF; padding:20px; text-align:center; }
.Glogin00 { text-align:right; vertical-align:top; font-size:1px; }
.Glogin01 { padding-top:5px; text-align:right; vertical-align:top; font-size:1px; }
.Gtablacontenido { margin-top:15px; }
.Gbarraizquierda { border-right: solid 1px #CCC; vertical-align:top; width:145px }/*06/12*/
.Gbarraderecha { border-left: solid 1px #CCC; padding-left:15px; vertical-align:top; width:155px; }/*06/12*/
.Gcentro { vertical-align:top; text-align:center; }
.Gimagesproductos { bolder: solid 1px #CCC; }
.Gdescripcionproductos { padding-top:5px; text-align:center; }
.Gdescripcionproductostexthome { padding-top:5px; text-align:left; }
.Gprodprincipalprecio { padding: 10px 0px 6px 0px; text-align:left; }
.GprodprincipalprecioMedio { padding: 10px 0px 6px 10px; text-align:left; }/*06/12*/
.Gprodprincipalcomprar { padding: 5px 0px 5px 0px; text-align:left; border-bottom:solid 1px #CCC; border-top:solid 1px #CCC; }
.GprodprincipalcomprarMedio { padding: 5px 0px 5px 10px; text-align:left; border-bottom:solid 1px #CCC; border-top:solid 1px #CCC; }/*06/12*/
.Gmodulodestacados { margin-bottom:5px; }
.Gultimosvitadosprod { border-bottom:solid 1px #CCC; margin-top:10px; }
.Gultimosvitadosprodprecio { padding-bottom:7px; padding-top:7px; }
.Gcomentariostabla { border-bottom:solid 1px #CCC; margin-bottom:7px; }
.Gcomentarioscelda { padding-bottom:5px; padding-top:2px; }
.Gmodulovermascategorias { text-align:left; padding:7px 0px 7px 0px; border-top: solid 1px #CCC; border-bottom: solid 1px #CCC; }
.Glosqcomprarontabla { margin-top:15px; }
.Glosqcompraronceldaop { text-align:left; border-bottom: solid 1px #000; }
.Glosqcomprarontablaprod { margin-top:10px; padding-bottom:7px; border-bottom: solid 1px #D8D8D8; text-align:left; }
.Gmodulossubcat { padding-bottom:7px; }
.Gmodulossubcat2 { padding-bottom:5px; padding-left:4px; margin-left:10px; border-left:solid 1px #CCC; }
.Gmodulossubcat3 { padding-bottom:5px; padding-left:4px; margin-left:20px; border-left:solid 1px #666; }
.Gmodulosubcattit { padding-bottom:10px; }
.GultvisitadosB { background-color:#F4F5F6; padding:10px; height:85px; }/*11/12*/




/* Formularios */
.ayudatext { background-color:#FFF; border:solid 1px #666; padding:2px 0px 2px 3px; font-size:11px; text-align:left; color:#333; margin-left:8px; width:150px; margin-top:5px; }
.empleomenu2 { background-color:#FFF; border:solid 1px #666; padding:2px 0px 2px 3px; font-size:11px; text-align:left; color:#333; margin-left:8px; margin-top:5px; }
.formbavanzada { background-color:#FFF; border:solid 1px #666; padding:2px 0px 2px 3px; font-size:11px; text-align:left; color:#333; margin-left:8px; margin-top:5px; width:156px; }

.tipoDoc { background-color:#FFF; border:solid 1px #666; padding:2px 0px 2px 3px; font-size:11px; text-align:left; color:#333; margin-left:3px; margin-top:5px; width:150px; }
.nacionalidad { background-color:#FFF; border:solid 1px #666; padding:2px 0px 2px 3px; font-size:11px; text-align:left; color:#333; margin-left:3px; margin-top:5px; }
.profesion { background-color:#FFF; border:solid 1px #666; padding:2px 0px 2px 3px; font-size:11px; text-align:left; color:#333; margin-left:3px; margin-top:5px; }
.nroDoc { background-color:#FFF; border:solid 1px #666; padding:2px 0px 2px 3px; font-size:11px; text-align:left; color:#333; margin-left:3px; margin-top:5px; }
.fecNac { background-color:#FFF; border:solid 1px #666; padding:2px 0px 2px 3px; font-size:11px; text-align:left; color:#333; margin-left:3px; margin-top:5px; }

.formextra { font-family: Verdana, Arial, Sans-Serif; font-size: 10px; text-align:left }
.linksextra{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal; color: #05204d; text-decoration: none }

/* Footer */
.Gfooter { margin-top:25px; margin-right:25px; width:670px; }
#GFooter1 { margin-top:10px; }
#GFooter2 { margin-bottom:4px; }
.Gfooter3 {margin-right:25px; width:670px; }



/* Fuentes Principales (F) */
a.Flogin { font-size:1; color:#FFF; text-decoration:none; }
.FTtit01 { font-size:11px; text-align:left; font-weight:bold; color:#666; text-decoration:none; }
.FTtit01ch { font-size:10px; text-align:left; font-weight:bold; color:#666; text-decoration:none; }

/*.FProductos { font-size:11px; color:#333; text-decoration:none; }
a.FProductos:hover { color:#000; text-decoration:underline; }*/
.FProductos { font-size:11px; color:#000; text-decoration:underline; text-transform:uppercase; }
a.FProductos:hover { color:#333;  }


.FProductosDetalle { font-size:13px; font-weight:bold; color:#333; text-decoration:none; }
.FProductosDetalle2 { font-size:11px; color:#666; text-decoration:none; }
.FProductosDetalle2link { font-size:11px; color:#666; text-decoration:underline; }
a.FProductosDetalle2link:hover { color:#000; }
.FCategorias { font-size:11px; text-align:left; color:#666; text-decoration:underline; line-height: 16px; }
a.FCategorias:hover { color:#000; }
.FCategorias2 { font-size:11px; text-align:left; color:#666; text-decoration:none;}
.FSubCategoriasIzq { font-size:11px; text-align:left; color:#666; text-decoration:underline; }/*06/12*/
a.FSubCategoriasIzq:hover { color:#000; text-decoration:none; }/*06/12*/
.FSubCategorias { font-size:11px; text-align:left; color:#666; text-decoration:underline; line-height: 11px; }
a.FSubCategorias:hover { color:#000; }
.FSubCategorias2 { font-size:11px; text-align:left; color:#333; text-decoration:underline; }
a.FSubCategorias2:hover { color:#000; text-decoration:none; }
.FSubCategorias3 { font-size:11px; text-align:left; color:#000; text-decoration:underline; line-height: 11px; }
a.FSubCategorias3:hover { color:#000; }
.FSubCategoriasActiva { font-size:11px; text-align:left; color:#333; font-weight:bold; }

.FProductosMusica { font-size:11px; color:#ED008C; text-decoration:none; }
a.FProductosMusica:hover { color:#000; text-decoration:underline; }
.FProductosPeliculas { font-size:11px; color:#000; text-decoration:none; }
a.FProductosPeliculas:hover { color:#000; text-decoration:underline; }
.FProductosLibros { font-size:11px; color:#4A634D; text-decoration:none; }
a.FProductosLibros:hover { color:#000; text-decoration:underline; }
.FProductosPasatiempos { font-size:11px; color:#BC1A8D; text-decoration:none; }
a.FProductosPasatiempos:hover { color:#000; text-decoration:underline; }

.Fautores { font-size:10px; text-align:center; color:#777; text-decoration:underline; }
a.Fautores:hover { color:#000; }

/*.Fautores0 { font-size:10px; text-align:center; color:#777; text-decoration:underline; }
a.Fautores0:hover { color:#000; }*/
.Fautores0 { font-size:10px; text-align:left; color:#777; text-decoration:underline; text-transform:uppercase; }
a.Fautores0:hover { color:#000; }
/*
.Fautores_principal { font-size:10px; text-align:center; color:#777; text-decoration:underline; }
a.Fautores_principal:hover { color:#000; }
*/
.Fprecio { font-size:10px; text-align:left; color:#777; text-decoration:none; }
.FprecioRojo { font-size:10px; text-align:left; color:#FF0000; text-decoration:none; }
.FAyuda { font-size:11px; text-align:left; color:#666; text-decoration:underline; }
a.FAyuda:hover { color:#000; }

.Flink01 { font-size:10px; color:#777; text-decoration:underline; }
a.Flink01:hover { color:#000; }
.Flink02 { font-size:11px; color:#000; text-decoration:underline; }
a.Flink02:hover { color:#777; text-decoration:none; }

.Ftexto01 { font-size:10px; color:#777; text-decoration:none; }
.Ftexto02 { font-size:11px; color:#333; text-decoration:none; text-align:left; }
.Ftexto03 { font-size:10px; color:#333; text-decoration:none; }
.Ftexto04 { font-size:11px; color:#999; text-decoration:none; text-align:left; }
.Ftexto05  { font-size:11px; text-align:left; color:#666; text-decoration:none; }
.Ftexto06 { font-size:11px; color:#000; text-decoration:none; text-align:left; }
.Ftextorojo { font-size:11px; color:#FF0000; text-decoration:none; text-align:left; }
.Ftexto06SinAlign { font-size:11px; color:#000; text-decoration:none;}

.Ftextdestacados { font-family:Tahoma; font-size:10px; font-weight:normal; text-decoration:none; color:#333; }

h1 {
	font-weight: normal;
	margin: 0px;
}
h2 {
	font-weight: normal;
	margin: 0px;
}
.Ftextopie {
font-size:10px; color:#777; text-decoration:none;
}
.Ftextopie2 {
font-size:11px; color:#777; text-decoration:none;
}

h3 {

	font-weight: normal;
	margin: 0px;
}
.moduloorden { border-top:solid 1px #666; border-bottom:solid 1px #666; padding:10px 7px 12px 7px ; background-color:#EFF0F2; text-align:left; }
.moduloordencelda { padding-top:7px; }

/* NUEVOS 15/11 */

#efectoCarritoBack {
	position:fixed;
	width:100%;
	height:100%;
	left:0px;
	top:0px;
	background-color:#CCC;
	filter:alpha(opacity=60);
	opacity: 0.6;
	position:expression('absolute');
	z-index:1;
}

#efectoCarritoMod {
	position:absolute;
	width:295px;
	height:174px;
	left:50%;
	margin-left:-147px;
	top:50%;
	margin-top:-87px;
	background-image:url(/imagenes/back-efectocarrito.gif);
	border:solid 1px #CCC;
	text-align:left;
	z-index:99;
}

#efectoCarritoNoMod {
	position:absolute;
	width:295px;
	height:174px;
	left:50%;
	margin-left:-147px;
	top:50%;
	margin-top:-87px;
	border:solid 1px #CCC;
	text-align:left;
	z-index:99;
	background-color:ffffff;
}

#efectoCarritoTxt {
	position:absolute;
	margin-left:125px;
	margin-top:50px;
	width:147px;
}

#efectoCarritoNoTxt {
	position:absolute;
	margin-left:70px;
	margin-top:10px;
	width:215px;
	font-size:9;
}

#efectoCarritoImages {
	position:absolute;
	width:105px;
	height:155px;
	margin-left:10px;
	margin-top:10px;
	text-align:center;
}

#efectoCarritoNoImages {
	position:absolute;
	width:50px;
	height:50px;
	margin-left:10px;
	margin-top:10px;
	text-align:center;
}

.efectoCarritoImag {
	max-height:155px;
	max-width:105px;
}

#efectoCarritoB {
	position:absolute;
	width:120px;
	height:36px;
	margin-left:135px;
	margin-top:130px;
}

.rssLeyenda {
	color:#0055AA;
	font-style:italic;
	font-size:11px;
	text-align:left;
	font-family:verdana;
	text-decoration:none;
}

.rssTexto {
	color:#0055AA;
	font-size:12px;
	text-align:left;
	text-decoration:underline;
}

.rssTitulo {
	color:#0055AA;
	font-size:12px;
	text-align:left;
	font-weight: bold;
	text-decoration:underline;
}

.areaRed {
	 border-top: solid 1px #000; border-bottom: solid 1px #000; margin-top: 0px; margin-bottom:15px; padding-top:3px; padding-bottom:3px;
}
/* NUEVOS 12/12 */

#registroExtraBack {
	float:left;
	width:366px;
	height:262px;
	background-image:url(/imagenes/inicio/back-crearExtra.gif);
}

#registroExtraTxt1 {
	float:left;
	width:325px;
	margin-left:22px;
	margin-top:30px;
	text-align:center;
	display:inline;
}

#registroExtraTxt2 {
	float:left;
	width:300px;
	margin-left:32px;
	margin-top:60px;
	font-weight:normal;
	text-align:left;
	display:inline;
}

#registroExtraFin {
	float:left;
	width:290px;
	margin-left:32px;
	margin-top:30px;
	padding:4px;
	font-weight:normal;
	text-align:center;
	border:dashed 1px #F9A13B;
	background-color:#F0F2F4;
	display:inline;
}

.cuadroError {
	border:dashed 1px #FF070F;
	margin-left:3px;
	margin-bottom:3px;
	/*font-weight:bold;*/
	font-size:11px;
	padding:4px;
	padding-left: 25px;
	color:#FF070F;
	background-color:#FFFFFF;
	background-image:url(/imagenes/error-icon.gif);
	background-repeat: no-repeat;
	background-position:left top;
	text-align:left;
}
.cuadroMensajeOk {
	border:dashed 1px #559955;
	margin-left:3px;
	margin-bottom:3px;
	font-weight:bold;
	font-size:11px;
	padding:4px;
	padding-left: 25px;
	color:#559955;
	background-image:url(/imagenes/ok-icon.gif);
	background-repeat: no-repeat;
	background-position:left top;
	text-align:left;
}
.cuadroMensajeWarning {
	border:dashed 1px #ff9900;
	margin-left:3px;
	margin-bottom:3px;
	font-weight:bold;
	font-size:11px;
	padding:4px;
	padding-left: 25px;
	color:#ff9900;
	background-image:url(/imagenes/warning-icon.gif);
	background-repeat: no-repeat;
	background-position:left top;
	text-align:left;
}
.cuadroMensajeError {
	border:dashed 1px #FF070F;
	margin-left:3px;
	margin-bottom:3px;
	font-weight:bold;
	font-size:11px;
	padding:4px;
	padding-left: 25px;
	color:#FF070F;
	background-color:#FFFFFF;
	background-image:url(/imagenes/error-icon.gif);
	background-repeat: no-repeat;
	background-position:left top;
	text-align:left;
}
.cuadroLoad {
	float:left;
/*	width:290px;*/
	border:dashed 1px #F0F2F4;
/*	margin-left:32px;
	margin-top:30px;*/
	font-weight:bold;
	font-size:11px;
	padding:4px;
	color:#ffffff;
	background-color:#559955;
	text-align:center;
}

.cuadroExito {
	float:left;
	/*width:350px;*/
	border:solid 1px #c4c8ca;
	margin:5px;
	font-size:11px;
	padding:4px;
	color:#666666;
	background-color:#ffffff;
	text-align:center;
}

.cuadroExitoTitulo {
	font-weight:bold;
	font-size:11px;
	margin-bottom:5px;
}

.cuadroExitoExterno {
	border:solid 1px #eeeeee;
	float:left;
	/*width:370px;*/
	margin-left:0px;
	background-color:#ebedf1;
}

.areaAcciones { border-top: solid 1px #000; border-bottom: solid 1px #000; margin-top: 10px; margin-bottom:40px; text-align:right; }
/* reemplazar, este estilo está en las hojas de estilos personalizadas de cada sección, eliminarlo de ahi ya que queda común para todas */


.areaAccionesComp { float:left; width:370px; border-bottom:dashed 1px #CCC; padding:2px 5px 2px 0px; }
.areaAccionesListaDes { float:left; width:370px; padding:9px 5px 9px 0px; }


#detalleCompartir {
	position:absolute;
	width:280px;
	padding:10px;
	padding-left:20px;
	margin-left:35px;
	display:inline;
	background-color:#F4F5F6;
	border:solid 1px #666;
	margin-top:-67px;
	margin-bottom:20px;
}
#cruzCompartir {
	position:absolute;
	margin-left:325px;
	margin-top:-56px;
	z-index:5;
	padding:1px;
	border:solid 1px #666;
}

.tituloCompartir { font-size:11px; text-align:left; font-weight:bold; color:#000; text-decoration:none; }


.btnContinuar {
	float:left;
	padding:4px;
	font-weight:bold;
	text-align:center;
	border:dashed 1px #F9A13B;
	background-color:#ffffff;
	display:inline;
	font-size:12px;
}

/**/

/**/


/* NUEVOS 03/05 - Puntuacion con comentario */

.Gcomentariostabla { border-bottom:solid 2px #333; margin-bottom:15px; }
.Gcomentarioscelda { padding-bottom:2px; padding-top:2px; }
.GcomentariosceldaUsr { border-bottom:dashed 1px #CCC; padding-bottom:2px; padding-top:5px; font-size:11px; font-weight:bold; }
.GcomentariosCalif1 { float:right; margin:3px 0px 3px 0px; }
.GcomentariosCalif2 { float:left; margin-top:5px; font-size:11px; color:#666; }
