.disabledEfect {
	position:absolute;
	width:218px;
	height:337px;
	margin:20px 0 0 3px;
	position:expression('absolute');
	z-index:1;
	background-image:url(/imagenes/rediseno/imagenes/divMesa-back.jpg);
	background-repeat:no-repeat;
	background-position:center;
}

.disabledEfectCtrl {
	margin:13px 0 0 3px;
	position:absolute;
	background-color:#AAA;
	filter:alpha(opacity=70);
	opacity: 0.7;
	position:expression('absolute');
	z-index:1000;
}

	.disabledEfectCtrl object{
		width:95px;
		height:100px;
		display:block;
		position:relative;
	}

.globoArticulo {
	position:absolute;
	position:expression('absolute');
	z-index:9999;
	width:387px;
	margin-top:-65px;
	margin-left:-30px;
}
	.globoArticuloTop {
		float:left;
		width:342px;
		background-image:url(/imagenes/rediseno/imagenes/globoArticuloTop-back.png);
		padding:15px 15px 0px 30px;
	}

	.globoArticuloRightTop {
		float:left;
		width:342px;
		background-image:url(/imagenes/rediseno/imagenes/globoArticuloRightTop-back.png);
		padding:15px 30px 0px 15px;
	}

		.globoArticuloTapa {
			float:left;
			width:105px;
			border:solid 1px #666;
		}

		.globoArticuloInfo {
			float:left;
			width:227px;
			margin-left:8px;
		}

			.globoArticuloInfo #artTitulo {
				display:block;
				font-size:17px;
				font-weight:bold;
				line-height:16px;
				margin-bottom:5px;
			}

			.globoArticuloInfo #trAutor {
				display:block;
				border-bottom:dotted 1px #666;
				padding-bottom:4px;
				font-size:13px;
				margin-bottom:10px;
			}

				.globoArticuloInfo #trAutor a{
					font-size:13px;
				}

			.globoArticuloInfo .calificacionMod {
				padding-top:0px;
				margin:-5px 0px 10px 0px;
				float:left;
				width:220px;
			}

				.globoArticuloInfo .calificacionMod span {
					margin-top:2px;
				}


			.globoArticuloInfo div {
				display:block;
				font-size:11px;
				margin-bottom:4px;
				line-height:11px;
			}

			.globoArticuloInfo a {
				font-size:11px;
			}

			a.globoArticuloMasInfo {
				display:block;
				border-top:dotted 1px #666;
				border-bottom:dotted 1px #666;
				padding:3px 0px;
				font-size:14px;
				margin:10px 0px 5px 0px;
			}

	.globoArticuloBottom {
		float:left;
		width:244px;
		background-image:url(/imagenes/rediseno/imagenes/globoArticuloBottom-back.png);
		height:90px;
		background-repeat:no-repeat;
		padding-left:143px;
	}

	.globoArticuloRightBottom {
		float:left;
		width:244px;
		background-image:url(/imagenes/rediseno/imagenes/globoArticuloRightBottom-back.png);
		height:90px;
		background-repeat:no-repeat;
		padding-left:130px;
	}

		.globoArticuloPrecio {
			display:block;
			font-weight:bold;
			font-size:15px;
		}

		.globoArticuloComprar, .globoArticuloPedir {
			width:177px;
			height:46px;
			display:block;
			cursor:pointer;
			position:relative;
			left:-8px;
		}


.globoArticuloLoad {
	overflow:hidden;
	position:fixed;
	background-color:#AAA;
	position:expression('absolute');
	z-index:1;
}


.divMesa{
	position:relative;
	width:218px;
	height:310px;
	overflow:hidden;
	background-image:url(/imagenes/rediseno/imagenes/divMesa-back.jpg);
	margin:0px 3px;
}

.imgTapa {
	border:0px;
}

#modalBack, .modalBack {
	position:fixed;
	width:100%;
	height:100%;
	left:00;
	top:0;
	background-color:#777;
	filter:alpha(opacity=70);
	opacity: 0.7;
	z-index:9998;
}

	.divMesa .arbolShadow {
		float:left;
		margin:5px 0px 3px 0px;
		display:inline;
		background-image:url(/imagenes/rediseno/imagenes/comun/arbolShadow-back.png);
		background-color:transparent;
	}

	.arbolShadow img {
		display:block;
		position:relative;
		margin:-3px 3px 3px -3px;
		width:98px;
		height:auto;
		cursor:pointer;
	}


.divMesaCont {
	float:left;
	margin-left:9px;
}

.mesaSiguiente, .mesaAnterior {
	width:218px;
	height:22px;
	cursor:pointer;
	border:none;
}

	.mesaSiguiente {
		background-image:url(/imagenes/rediseno/imagenes/seccionTematika/mesaSiguiente.png);
		margin-top:1px;
	}

		.mesaSiguiente:hover {
			background-image:url(/imagenes/rediseno/imagenes/seccionTematika/mesaSiguiente-hover.png);
		}

	.mesaAnterior {
		background-image:url(/imagenes/rediseno/imagenes/seccionTematika/mesaAnterior.png);
		margin-bottom:1px;
		margin-top:10px;
	}

		.mesaAnterior:hover {
			background-image:url(/imagenes/rediseno/imagenes/seccionTematika/mesaAnterior-hover.png);
		}

.mesaSiguienteDeshabilitada, .mesaAnteriorDeshabilitada {
	width:218px;
	height:22px;
	border:none;
}

.mesaSiguienteDeshabilitada {
	background-image:url(/imagenes/rediseno/imagenes/seccionTematika/mesaSiguienteGris.png);
	margin-top:1px;
}

.mesaAnteriorDeshabilitada {
	background-image:url(/imagenes/rediseno/imagenes/seccionTematika/mesaAnteriorGris.png);
	margin-bottom:1px;
	margin-top:10px;
}
