@charset "utf-8";

/************************************************************************
*
* LAYOUT GENERAL (TEMATIKA)
*
************************************************************************/

a {
	color:#F43266;
	text-decoration:none;
	font-size:12px;
}

a:hover {
	color:#31AF5A;
}

a:visited {
	color:#31AF5A;
}

/* header */

.hBuscador {
	background-image:url(/imagenes/rediseno/imagenes/seccionMusica/hBuscador-back.png);
}

	.hBuscMenu {
		background-image:url(/imagenes/rediseno/imagenes/seccionMusica/hBuscMenu-back.png);
	}

		a.hBuscMenuDesplItem:hover {
			background-color:#31AF5A;
			color:#FFF;
		}

	.hServClientes {
		background-image:url(/imagenes/rediseno/imagenes/seccionMusica/hServClientes-back.png);
	}
.hModUsuarioBack {
	background-image:url(/imagenes/rediseno/imagenes/seccionMusica/hModUsuario-back.png);
}

/* FIN header */


/*mensajes al ausuario*/

.panelMensajes a:visited {
	color:#F43266;	
}

.panelMensajes a:hover {
	color:#31AF5A;	
}

		.panelMsjCerrar {
			background-image:url(/imagenes/rediseno/imagenes/seccionMusica/b-panelMsjCerrar.gif);
		}
	
		.panelMsjCerrar:hover {
			background-image:url(/imagenes/rediseno/imagenes/seccionMusica/b-panelMsjCerrar-hover.gif);
		}
		
		.panelMsjAbrir {
			background-image:url(/imagenes/rediseno/imagenes/seccionMusica/b-panelMsjAbrir.gif);
		}
	
		.panelMsjAbrir:hover {
			background-image:url(/imagenes/rediseno/imagenes/seccionMusica/b-panelMsjAbrir-hover.gif);
		}
		
/*FIN mensajes al ausuario*/
/* Panel de secciones */

#panelSeccSucursales, #panelSeccQuid, #panelSeccExtra {
	width:15px;
	background-image:url(/imagenes/rediseno/imagenes/comun/panelSecc-back.jpg);
	background-position:bottom;
}

	#panelSeccSucursales {
		background-image:url(/imagenes/rediseno/imagenes/seccionMusica/panelSeccSucursales-back.gif);
	}

	#panelSeccQuid {
		background-image:url(/imagenes/rediseno/imagenes/seccionMusica/panelSeccQuid-back.gif);
	}

	#panelSeccExtra {
		background-image:url(/imagenes/rediseno/imagenes/seccionMusica/panelSeccExtra-back.gif);
	}


#panelSeccSucursales span, #panelSeccQuid span, #panelSeccExtra span {
	width:15px;
	height:90px;
	cursor:pointer;
	float:left;
}

	#panelSeccSucursales span {
		background-image:url(/imagenes/rediseno/imagenes/seccionMusica/panelSeccSucTop-back.gif);
	}

	#panelSeccQuid span {
		background-image:url(/imagenes/rediseno/imagenes/seccionMusica/panelSeccQuidTop-back.gif);
	}

	#panelSeccExtra span {
		background-image:url(/imagenes/rediseno/imagenes/seccionMusica/panelSeccExtraTop-back.gif);
	}

/* FIN Panel de secciones */


/************************************************************************
*
* HOME TEMATIKA
*
************************************************************************/

#seccionTematika {
	width:861px;
	background-image:url(/imagenes/rediseno/imagenes/seccionMusica/tmtkMesaNovedades-back.jpg);
	background-repeat:no-repeat;
	float:left;
}


/* Mesa de novedades */

.tmtkMesaSeccionesTit {
	display:none;
}

.tmtkMesaNovedades {
	float:right;
	width:660px;
}

.tmtkMesaMenuMod {
	margin:15px 0px 0px 155px;
}

	.tmtkMesa-back {
		float:left;
		width:660px;
		background-image:url(/imagenes/rediseno/imagenes/seccionMusica/solapas-back.png);
		margin-top:32px;
	}

	.tmtkMesa-back img {
		/*margin:4px 0 0 1px;*/
	}

.tmtkMesa {
	float:left;
	width:660px;
	margin-top:-5px;
}

.mesaSiguiente {
	background-image:url(/imagenes/rediseno/imagenes/seccionMusica/mesaSiguiente.gif);
}

.mesaAnterior {
	background-image:url(/imagenes/rediseno/imagenes/seccionMusica/mesaAnterior.gif);
}


/* FIN Mesa de novedades */


.solapasMenu {
	background-image:url(/imagenes/rediseno/imagenes/seccionMusica/solapasMenu-back.png);
}

.solapas {
	float:right;
	width:651px;
	background-image:url(/imagenes/rediseno/imagenes/seccionMusica/solapas-back.png);
}

.solapaModTit {
	background-color:#FDE9EF;
}


/* Árbol de categorías */

.arbol {
	margin:75px 0px 0px 13px;
}

#arbolMusica {
	border:solid 1px #FACCDC;
	width:190px;
	background-image:url(/imagenes/rediseno/imagenes/seccionMusica/arbolMod-back.gif);
	background-position:bottom;
	background-repeat:repeat-x;
}

	.arbolItemMas {
		background-image:url(/imagenes/rediseno/imagenes/seccionMusica/arbolItemMas-b.gif);
	}

	.arbolItemMin {
		background-image:url(/imagenes/rediseno/imagenes/seccionMusica/arbolItemMin-b.gif);
	}

	.arbolItemF {
		background-image:url(/imagenes/rediseno/imagenes/seccionMusica/arbolItemF.gif);
	}

	.arbolItemLink {
		width:160px;
	}

	.arbolItemA {
		border-bottom:solid 1px #FACCDC;
		width:174px;
	}

	.arbolItemB {
		width:160px;
		border-bottom:dotted 1px #FACCDC;
	}

	.arbolItemA .arbolItemLink {
		width:159px;
	}

	.arbolItemB .arbolItemLink {
		width:140px;
	}

.arbolItemMax {
	display:none;
}

/* FIN Árbol de categorías */

.solapaCalle {
	width:207px;
}

/* listas, usuarios y tags */

.hlistas:hover {
	background-color:#FEF5F7;
}

.hUsuarios:hover {
	background-color:#FEF5F7;
}

.hUsrUltAcc {
	width:642px;
}

.hTags {
	width:640px;
}

	.hTags a:hover {
		color:#F43266;
	}


/************************************************************************
*
* MODULOS
*
************************************************************************/

/* Tapas */

.tapaInfo {
	background-image:url(/imagenes/rediseno/imagenes/seccionMusica/tapaInfo-back.png);
}


/************************************************************************
*
* FOOTER
*
************************************************************************/

.footer a:hover {
	color:#ED7C24;
}

	.footerText2 a:hover span {
		color:#ED7C24;
	}


/************************************************************************
*
* DROP DOWN MENU
*
************************************************************************/

ul.dropdown ul a:hover {
	background-color:#F43266;
	color:#FFF;
}

ul.dropdown *.dir {
	background-image:url(/imagenes/rediseno/imagenes/seccionMusica/hBuscMenu-back.png);
}

.tmtkMesaMenuMod ul.dropdown *.dir, .busqFiltMenu ul.dropdown *.dir {
	background-image:url(/imagenes/rediseno/imagenes/seccionMusica/solapasMenu-back.png);
}

.dropdown span:hover {
	color:#F43266;
}
/*agregue esto para ver si soluciono el problmea de la mesa de seccion*/
ul.dropdown *.diri {
	background-image:url(/imagenes/rediseno/imagenes/seccionMusica/hBuscMenu-back.png);	
}
.tmtkMesaMenuMod ul.dropdown *.diri {
	background-image:url(/imagenes/rediseno/imagenes/seccionMusica/solapasMenu-back.png);
}/*fin*/

/************************************************************************
*
* INTERNAS
*
************************************************************************/

/*DETALLE DE PRODUCTO*/

/* titulos */

.dSolapas .solapasTitComent{
	margin-left:31px;
}

.dSolapas .solapasTitListas{
	margin-left:66px;
}

.dSolapas .solapasTitTags{
	margin-left:49px;
}

.solapasTitDatosPrinc {
	width:175px;
	background-image:url(/imagenes/rediseno/imagenes/comun/t-datosPrinc.gif);
	margin:10px 5px 0px 70px;
}

/* info principal */

.dCompra {
	border:solid 1px #FACCDC;
	background-image:url(/imagenes/rediseno/imagenes/seccionMusica/arbolMod-back.gif);
}

.dCompra ul, .dComprarEnvio {
	border-top:dotted 1px #FACCDC;
	border-bottom:dotted 1px #FACCDC;
}

.dComprarButton {
	background-image:url(/imagenes/rediseno/imagenes/seccionMusica/b-comprarD.png);
}

.detalleBotonMenu {
	background-image:url(/imagenes/rediseno/imagenes/seccionMusica/detalleBotonMenu-back.png);
}

	.detalleBotonMenu span, .detalleBoton span {
		color:#F43266;
	}

	.detalleBotonMenu:hover > span, .detalleBoton:hover > span {
		color:#31AF5A;
	}
	
	.detalleListaMenu {
		background-image:url(/imagenes/rediseno/imagenes/seccionMusica/listadoModAcciones-back.gif);
	}
	
	p.dListaMenuCheck {
		background-color:#D6EFDD;
		color:#85D09A;
	}
	

.dInfoAutor, .dInfoLinks {
	border-bottom:dotted 1px #FACCDC;
}

.dInfoCalif {
	border-bottom:dotted 1px #FACCDC;
	border-top:dotted 1px #FACCDC;
}

.dInfoCalifStarMod {
	border-right:solid 1px #FACCDC;
}

.detalleImagenAnt {
	background-image:url(/imagenes/rediseno/imagenes/seccionMusica/detalleImagenAnt-back.gif);
}

.detalleImagenSig {
	background-image:url(/imagenes/rediseno/imagenes/seccionMusica/detalleImagenSig-back.gif);
}

.dSolapas .hTags {
	width:577px;
	margin:9px 0 0 13px;
	display:inline;
}

/* barra derecha con recomendaciones */

.dComentarios {
	border-bottom:dotted 1px #FACCDC;
}

	.dComentsCalifP {
		background-image:url(/imagenes/rediseno/imagenes/seccionMusica/dComentsCalifP-back.gif);
	}

	.dComentsCalifN {
		background-image:url(/imagenes/rediseno/imagenes/seccionMusica/dComentsCalifN-back.gif);
	}

/*DETALLE DE AUTOR*/

.dFavButton {
	background-image:url(/imagenes/rediseno/imagenes/seccionMusica/b-favoritoD.png);
}

/*LISTADOS*/

.listadoMod {
	background-image:url(/imagenes/rediseno/imagenes/seccionMusica/listadoMod.gif);
}

.listadoMod .dInfoLinks {
	border-bottom:none;
	border-top:dotted 1px #FACCDC;
}

.listadoModAcciones div {
	background-image:url(/imagenes/rediseno/imagenes/seccionMusica/listadoModAcciones-back.gif);
	border:solid 1px #FACCDC;
}

	.listadoModAcciones div a {
		width:100%;
		height:46px;
		display:block;
		background-position:center;
		margin:5px 0;
		background-image:url(/imagenes/rediseno/imagenes/seccionMusica/b-comprar.png);
	}


/*TARJETA DE PRODUCTO*/

.globoArticuloComprar {
	background-image:url(/imagenes/rediseno/imagenes/seccionMusica/b-comprar.png);
}

.globoArticuloPedir {
	background-image:url(/imagenes/rediseno/imagenes/seccionMusica/b-pedir.png);
}

/*TARJETA DE PRODUCTO*/

/*mensajes al ausuario*/

.panelMensajes a:visited {
	color:#F43266;
}

.pnlMsgCmd:hover{
		color:#31AF5A;
	}

		.panelMsjCerrar {
			background-image:url(/imagenes/rediseno/imagenes/seccionMusica/b-panelMsjCerrar.gif);
		}

		.panelMsjCerrar:hover {
			background-image:url(/imagenes/rediseno/imagenes/seccionMusica/b-panelMsjCerrar-hover.gif);
		}

		.panelMsjAbrir {
			background-image:url(/imagenes/rediseno/imagenes/seccionMusica/b-panelMsjAbrir.gif);
		}

		.panelMsjAbrir:hover {
			background-image:url(/imagenes/rediseno/imagenes/seccionMusica/b-panelMsjAbrir-hover.gif);
		}

/*FIN mensajes al ausuario*/
.tituloBus {
		color:#F43266;text-decoration:none;font-size:12px;font-weight:800;
}
.tituloBus:visited{
		color:#F43266;
}

/* BUSQUEDAS (productos) */

.busqTit span {
	color:#F43266;
}

.busqFiltMod {
	border-color:#FACCDC;
}

a.busqFiltApl {
	background-image:url(/imagenes/rediseno/imagenes/seccionMusica/busqFiltApl.gif);
}

.busqContenido {
	width:640px;
}

.busqOrden {
	border:solid 1px #FACCDC;
	width:635px;
	background-image:url(/imagenes/rediseno/imagenes/seccionMusica/listadoModAcciones-back.gif);	
}

.busqContenido .listadoMod {
	width:604px;
}

	.busqContenido .listadoModInfo {
		width:335px;
	}

