<div class="solapas" id="calles3"><!-- comentarios -->

            <div class="tmtkMesaMenuMod">
                <div class="solapasTitComent"></div>
                <ul class="dropdown">
                    <li class="dir"><span onclick="javascript:desplegarOpciones('displayUsuarios');" id="mostrardisplayUsuarios">Los más recientes</span>
                        <ul id="displayUsuarios">
                            <li><a id="recientesUsr" onmouseover="javascript:desplegarOpciones('displayUsuarios);" onmouseout="javascript:ocultarOpciones('displayUsuarios');" href="javascript:mostrarBuscarPor('recientesUsr','mostrardisplayUsuarios','displayUsuarios');">Los más recientes</a></li>
                            <li><a id="utilesUsr" onmouseover="javascript:desplegarOpciones('displayUsuarios');" onmouseout="javascript:ocultarOpciones('displayUsuarios');" href="javascript:mostrarBuscarPor('utilesUsr','mostrardisplayUsuarios','displayUsuarios');">Los más útiles</a></li>
                            <li><a id="popularesUsr" onmouseover="javascript:desplegarOpciones('displayUsuarios');" onmouseout="javascript:ocultarOpciones('displayUsuarios');" href="javascript:mostrarBuscarPor('popularesUsr','mostrardisplayUsuarios','displayUsuarios');">Los más populares</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="solapaModulos"><!-- primera fila de comentarios -->

              <div class="solapaCalle" id="calleComents01">
                    <div class="tapaContenedor">
                        <a href="#"><img src="http://www.tematika.com/tapas/sitio/471702c0.jpg" class="tapaLibros"></a>
                        <div class="tapaInfo"></div>
                    </div>
                <div class="hComentarios" id="comentarios01">
                        <a href="#">Jesica Carla Khadjoyan</a>  dijo sobre <a href="#" class="fTitulos">SEXO EN NUEVA YORK</a>
                        <span>Por fin se reeditó este libro, llevo años tratando de conseguirlo!! Muchas graciass</span>
                  </div>
                  <div class="calificacionMod">
                      <span>Calificación:</span>
                      <div class="calificacionStar"></div>
                      <div class="calificacionStar"></div>
                      <div class="calificacionStar"></div>
                      <div class="calificacionStarDes"></div>
                      <div class="calificacionStarDes"></div>
                  </div>
                </div>

                <div class="solapaCalleSeparador" id="calleSeparadorComents"></div><!-- líneas divisorias -->

              <div class="solapaCalle" id="calleComents02">
                    <div class="tapaContenedor">
                        <a href="#"><img src="http://www.tematika.com/tapas/sitio/480154c0.jpg" class="tapaMusica"></a>
                        <div class="tapaInfo"></div>
                    </div>
                <div class="hComentarios" id="comentarios02">
                        <a href="#">Jesica Carla Khadjoyan</a>  dijo sobre <a href="#" class="fTitulos">SEXO EN NUEVA YORK</a>
                        <span>Por fin se reeditó este libro, llevo años tratando de conseguirlo!! Muchas graciass</span>
                  </div>
                  <div class="calificacionMod">
                      <span>Calificación:</span>
                      <div class="calificacionStarAct"></div>
                      <div class="calificacionStarAct"></div>
                      <div class="calificacionStarAct"></div>
                      <div class="calificacionStarDes"></div>
                      <div class="calificacionStarDes"></div>
                  </div>
                </div>

                <div class="solapaCalleSeparador" id="calleSeparadorComents2"></div><!-- líneas divisorias -->

              <div class="solapaCalle" id="calleComents03">
                    <div class="tapaContenedor">
                        <a href="#"><img src="http://www.tematika.com/tapas/sitio/483885c0.jpg" class="tapaPeliculas"></a>
                        <div class="tapaInfo"></div>
                    </div>
                <div class="hComentarios" id="comentarios03">
                        <a href="#">Jesica Carla Khadjoyan</a>  dijo sobre <a href="#" class="fTitulos">SEXO EN NUEVA YORK</a>
                        <span>Por fin se reeditó este libro, llevo años tratando de conseguirlo!! Muchas graciass</span>
                  </div>
                  <div class="calificacionMod">
                      <span>Calificación:</span>
                      <div class="calificacionStar"></div>
                      <div class="calificacionStar"></div>
                      <div class="calificacionStar"></div>
                      <div class="calificacionStarDes"></div>
                      <div class="calificacionStarDes"></div>
                  </div>
                </div>

            </div><!-- FIN primera fila de comentarios -->

            <div class="solapaModulos"><!-- primera fila de comentarios -->

              <div class="solapaCalle" id="calleComents04">
                    <div class="tapaContenedor">
                        <a href="#"><img src="http://www.tematika.com/tapas/sitio/471702c0.jpg" class="tapaLibros"></a>
                        <div class="tapaInfo"></div>
                    </div>
                <div class="hComentarios" id="comentarios04">
                        <a href="#">Jesica Carla Khadjoyan</a>  dijo sobre <a href="#" class="fTitulos">SEXO EN NUEVA YORK</a>
                        <span>Por fin se reeditó este libro, llevo años tratando de conseguirlo!! Muchas graciass</span>
                  </div>
                  <div class="calificacionMod">
                      <span>Calificación:</span>
                      <div class="calificacionStar"></div>
                      <div class="calificacionStar"></div>
                      <div class="calificacionStar"></div>
                      <div class="calificacionStarDes"></div>
                      <div class="calificacionStarDes"></div>
                  </div>
                </div>

                <div class="solapaCalleSeparador" id="calleSeparadorComents3"></div><!-- líneas divisorias -->

              <div class="solapaCalle" id="calleComents05">
                    <div class="tapaContenedor">
                        <a href="#"><img src="http://www.tematika.com/tapas/sitio/480154c0.jpg" class="tapaMusica"></a>
                        <div class="tapaInfo"></div>
                    </div>
                <div class="hComentarios" id="comentarios05">
                        <a href="#">Jesica Carla Khadjoyan</a>  dijo sobre <a href="#" class="fTitulos">SEXO EN NUEVA YORK</a>
                        <span>Por fin se reeditó este libro, llevo años tratando de conseguirlo!! Muchas graciass</span>
                  </div>
                  <div class="calificacionMod">
                      <span>Calificación:</span>
                      <div class="calificacionStarAct"></div>
                      <div class="calificacionStarAct"></div>
                      <div class="calificacionStarAct"></div>
                      <div class="calificacionStarDes"></div>
                      <div class="calificacionStarDes"></div>
                  </div>
                </div>

                <div class="solapaCalleSeparador" id="calleSeparadorComents4"></div><!-- líneas divisorias -->

              <div class="solapaCalle" id="calleComents06">
                    <div class="tapaContenedor">
                        <a href="#"><img src="http://www.tematika.com/tapas/sitio/483885c0.jpg" class="tapaPeliculas"></a>
                        <div class="tapaInfo"></div>
                    </div>
                <div class="hComentarios" id="comentarios06">
                        <a href="#">Jesica Carla Khadjoyan</a>  dijo sobre <a href="#" class="fTitulos">SEXO EN NUEVA YORK</a>
                        <span>Por fin se reeditó este libro, llevo años tratando de conseguirlo!! Muchas graciass</span>
                  </div>
                  <div class="calificacionMod">
                      <span>Calificación:</span>
                      <div class="calificacionStar"></div>
                      <div class="calificacionStar"></div>
                      <div class="calificacionStar"></div>
                      <div class="calificacionStarDes"></div>
                      <div class="calificacionStarDes"></div>
                  </div>
                </div>

            </div><!-- FIN primera fila de comentarios -->

        </div><!-- FIN comentarios -->