<div id="resBusqueda">
	<tmpl_loop detalles>
		<div class="listadoMod"><!-- 01 -->
            <div class="detalleImagen">
				<a href="<tmpl_var urlDetalle>"><img src="<tmpl_var urlImagen>" alt="<tmpl_var altImagen>"></a>            
            </div>
           	<div>
               <div class="listadoModInfo" id="resultado<tmpl_var indice>">
                   <a href="<tmpl_var urlDetalle>" class="dInfoTit"><tmpl_var titulo></a>
                   <div class="dInfoAutor">
                   	<tmpl_if tieneAutor> de                      
	                   	<tmpl_loop autores>                    		
	                   		<a href="<tmpl_var urlAutor>"><tmpl_var autor></a>
	                   	</tmpl_loop>           
                   	</tmpl_if>                    	
                   </a></div>                   
				<tmpl_if esCalificado>
                   	<div class="calificacionMod">
                      	 	<span>Calificación:</span>
                      	 		<tmpl_loop calificaciones>
                      	 			<div class="<tmpl_var estrellaClass>"></div><!--calificacionStar,calificacionStarDes-->                       	 			
                       		</tmpl_loop>
                       		<tmpl_if tieneEvaluacion>
                   				<div>&nbsp; <tmpl_var comentarioEvaluacion> <tmpl_var textoComentario></div>
                   			</tmpl_if>    	
                   	</div>                                  	
				</tmpl_else>
					<div class="calificacionMod">
						<tmpl_if tieneEvaluacion>
							<span> <tmpl_var comentarioEvaluacion> <tmpl_var textoComentario></span>
						</tmpl_if>
					</div>
				</tmpl_if>
                                   
                   <span>Clasificaci&oacute;n: <a href="<tmpl_var urlGenero>"><tmpl_var genero></a></span>

                   <tmpl_if tieneSinopsis>
                    <span>Sinopsis:                    
                    		<tmpl_var sinopsis>
                    </span>
                   </tmpl_if>
                   <!-- <p>
                       <div class="dInfoLinks">Listas: <a href="#">apelación</a>, <a href="#">autor</a>, <a href="#">john grisham</a>, <a href="#">abogados</a>, <a href="#">política</a>, <a href="#listas">(15+)</a></div>
                       <div class="dInfoLinks">Etiquetas: <a href="#">leyes</a>, <a href="#">autor</a>, <a href="#">john grisham</a>, <a href="#">abogados</a>, <a href="#tags">(15+)</a></div>
                   </p>-->
                   
               </div>
           	</div>
               <div class="listadoModAcciones">
                   <div>
                      <span><b><tmpl_var precio>
                      <tmpl_var totalDolar>
                      <tmpl_var totalEuro></b></span>
                      <tmpl_if estaDisponible>
                      		<a href="javascript:carrito_AgregarArticulo(<tmpl_var idArticulo>);window.scrollTo(0,0);"></a>
                      <tmpl_else>
                       	<!-- <a href="javascript:if (confirm('Este producto no esta disponible actualmente. Desea hacer un pedido?'))document.location = '/PedidoEspecial?ID_ARTICULO=<tmpl_var idArticulo>';" rel="nofollow">-->
	                   	<img onclick="javascript:if (confirm('Este producto no esta disponible actualmente. Desea hacer un pedido?'))document.location = '/PedidoEspecial?ID_ARTICULO=<tmpl_var idArticulo>';" src="/imagenes/rediseno/imagenes/seccion<tmpl_var enSeccion>/b-pedir.png" alt="Pedir" style="cursor: pointer;" />
	                   		
	                  	</a>
	                  </tmpl_if>	
                   </div>	                   
                   <!-- se oculta por hasta la implementacion
                   <h4 class="detalleModMenu">
                       <a class="detalleBotonMenu" onclick="javascript:desplegarOpciones('detalleList<tmpl_var indice>');javascript:getMisListas(<tmpl_var indice>,<tmpl_var idArticulo>);">
                       <span>AGREGAR A UNA LISTA</span></a>                       
                      	el contenido del div de abajo se llena dinamicamente con ajax, lenvatado con el js jsListasTmk.js
                       <h5  class="detalleListaMenu" id="detalleList<tmpl_var indice>" onMouseOver="clearTimeout(tempo);" onmouseout="ocultarOpcionesT('detalleList<tmpl_var indice>');" style="display:none;z-index:15">                                              	   
                       </h5>
                   </h4>
                   -->
               </div>
           </div><!-- FIN 01 --> 
	</tmpl_loop>
</div>
















