
<div class="solapas"><!-- listas -->
	<div class="tmtkMesaMenuMod">
                <div class="solapasTitListas"></div>
                <div class="solapasMenu">Más populares</div>
            </div>

            <div class="solapaModulos"><!-- este div contiene a las calles de los comentarios -->

                <div class="solapaCalle" id="calleLibrosListas">
                    <div class="hListaP">
                        <span><a href="#">TITULO DE LA LISTA</a></span>
                        <div class="calificacionMod">
                            <span>Calificación:</span>
                            <div class="calificacionStar"></div>
                            <div class="calificacionStar"></div>
                            <div class="calificacionStar"></div>
                            <div class="calificacionStarDes"></div>
                            <div class="calificacionStarDes"></div>
                        </div><br />
                        Generada por: <a href="#">Jesica Carla Khadjoyan</a>
                    </div>
                    <a href="#" class="hlistas"><span>Juegos de mesa para la noche</span></a>
                    <a href="#" class="hlistas"><span>Juegos de mesa para la noche</span></a>
                    <a href="#" class="vermas">+ listas de libros</a>
                </div>

                <div class="solapaCalleSeparador" id="calleSeparadorListas"></div><!-- líneas divisorias -->

                <div class="solapaCalle" id="calleMusicaListas">
                    <div class="hListaP">
                        <span><a href="#">TITULO DE LA LISTA</a></span>
                        <div class="calificacionMod">
                            <span>Calificación:</span>
                            <div class="calificacionStar"></div>
                            <div class="calificacionStar"></div>
                            <div class="calificacionStar"></div>
                            <div class="calificacionStarDes"></div>
                            <div class="calificacionStarDes"></div>
                        </div><br />
                        Generada por: <a href="#">Jesica Carla Khadjoyan</a>
                    </div>
                    <a href="#" class="hlistas"><span>Juegos de mesa para la noche</span></a>
                    <a href="#" class="hlistas"><span>Juegos de mesa para la noche</span></a>
                    <a href="#" class="vermas">+ listas de música</a>
                </div>

                <div class="solapaCalleSeparador" id="calleSeparadorListas2"></div><!-- líneas divisorias -->

                <div class="solapaCalle" id="callePeliculasComents">
                    <div class="hListaP">
                        <span><a href="#">TITULO DE LA LISTA</a></span>
                        <div class="calificacionMod">
                            <span>Calificación:</span>
                            <div class="calificacionStar"></div>
                            <div class="calificacionStar"></div>
                            <div class="calificacionStar"></div>
                            <div class="calificacionStarDes"></div>
                            <div class="calificacionStarDes"></div>
                        </div><br />
                        Generada por: <a href="#">Jesica Carla Khadjoyan</a>
                    </div>
                    <a href="#" class="hlistas"><span>Juegos de mesa para la noche</span></a>
                    <a href="#" class="hlistas"><span>Juegos de mesa para la noche</span></a>
                    <a href="#" class="vermas">+ listas de películas</a>
                </div>

                <div class="solapaCalleSeparador" id="calleSeparadorListas3"></div><!-- líneas divisorias -->

                <div class="solapaCalle" id="callePasatiemposListas">
                    <div class="hListaP">
                        <span><a href="#">TITULO DE LA LISTA</a></span>
                        <div class="calificacionMod">
                            <span>Calificación:</span>
                            <div class="calificacionStar"></div>
                            <div class="calificacionStar"></div>
                            <div class="calificacionStar"></div>
                            <div class="calificacionStarDes"></div>
                            <div class="calificacionStarDes"></div>
                        </div><br />
                        Generada por: <a href="#">Jesica Carla Khadjoyan</a>
                    </div>
                    <a href="#" class="hlistas"><span>Juegos de mesa para la noche</span></a>
                    <a href="#" class="hlistas"><span>Juegos de mesa para la noche</span></a>
                    <a href="#" class="vermas">+ listas de pasatiempos</a>
                </div>
            </div>
</div><!-- FIN listas -->