<div class="solapas" id="calles2"><!-- listas -->

            <div class="tmtkMesaMenuMod">
                <div class="solapasTitListas"></div>
            </div>

            <div class="solapaModulos"><!-- este div contiene a las calles de los comentarios -->

            	<div class="solapaModTit">LISTAS MÁS POPULARES</div>
                <div class="solapaModTit">LISTAS CREADAS RECIENTEMENTE</div>

                <div class="solapaCalle" id="calleLibrosListas">
                    <div class="hListaP">
                        <span><a href="#">TITULO DE LA LISTA</a></span>
                        <div class="calificacionMod">
                            <span>Calificación:</span>
                            <div class="calificacionStar"></div>
                            <div class="calificacionStar"></div>
                            <div class="calificacionStar"></div>
                            <div class="calificacionStarDes"></div>
                            <div class="calificacionStarDes"></div>
                        </div><br />
                        Generada por: <a href="#">Jesica Carla Khadjoyan</a>
                    </div>
                    <a href="#" class="hlistas"><span>Juegos de mesa para la noche</span></a>
                    <a href="#" class="hlistas"><span>Juegos de mesa para la noche</span></a>
                    <a href="#" class="hlistas"><span>Juegos de mesa para la noche</span></a>
                    <a href="#" class="hlistas"><span>Juegos de mesa para la noche</span></a>
                </div>

                <div class="solapaCalleSeparador" id="calleSeparadorListas"></div><!-- líneas divisorias -->

                <div class="solapaCalle" id="calleMusicaListas">
                    <div class="hListaP">
                        <span><a href="#">TITULO DE LA LISTA</a></span>
                        <div class="calificacionMod">
                            <span>Calificación:</span>
                            <div class="calificacionStar"></div>
                            <div class="calificacionStar"></div>
                            <div class="calificacionStar"></div>
                            <div class="calificacionStarDes"></div>
                            <div class="calificacionStarDes"></div>
                        </div><br />
                        Generada por: <a href="#">Jesica Carla Khadjoyan</a>
                    </div>
                    <a href="#" class="hlistas"><span>Juegos de mesa para la noche</span></a>
                    <a href="#" class="hlistas"><span>Juegos de mesa para la noche</span></a>
                    <a href="#" class="hlistas"><span>Juegos de mesa para la noche</span></a>
                    <a href="#" class="hlistas"><span>Juegos de mesa para la noche</span></a>
                </div>

            </div>

        </div><!-- FIN listas -->