<div class="tmtkMesaNovedades"><!-- mesa y ttulos de secciones -->
<a href="/libros" class="tmtkMesaSeccionesTit" title="Libros"></a> <a
	href="/musica" class="tmtkMesaSeccionesTit" title="Msica"></a> <a
	href="/peliculas" class="tmtkMesaSeccionesTit" title="Pelculas"></a> <a
	href="/juguetes" class="tmtkMesaSeccionesTit" title="Pasatiempos"></a>
</div>
<!-- FIN mesa y tiulos de secciones -->
<div class="arbolShadow compraProc-wrapper">
	<div class="compraProc">
		<tmpl_loop posiciones>
			<div class="<tmpl_var divClas>"><span class="<tmpl_var sapnClas>"><tmpl_var pantalla></span></div>
		</tmpl_loop>	
		<div class="compraProcL-act"><span class="cProcTxt-act">¿Regalo?</span></div>
		<div class="compraProc-des"><span class="cProcTxt-des">Entrega</span></div>
		<div class="compraProc-des"><span class="cProcTxt-des">Pago</span></div>
		<div class="compraProc-des"><span class="cProcTxt-des">Vista Previa</span></div>
		<div class="compraProcR-des"></div>
	</div>
</div>