<div class="solapas"><!-- usuarios -->
	<div class="tmtkMesaMenuMod">
                <div class="solapasTitUsuarios"></div>
                <div class="solapasMenu">Etiquetadores</div>
            </div>

            <div class="solapaModulos"><!-- este div contiene a las calles de los comentarios -->

                <div class="solapaCalle" id="calleLibrosUsuarios">
                    <div class="hUsuarioP">
                        <a href="#"><img src="/imagenes/rediseno/imagenes/comun/avatarM.gif" /></a>
                        <p><a href="#">GLAIMAN'S</a></p><br />
                        <span>Creó <a href="#">7 listas</a></span>
                    </div>
                    <a href="#" class="hUsuarios">
                        <img src="/imagenes/rediseno/imagenes/comun/avatarF-ch.gif" />
                        <span>Nombre de usuario</span>
                    </a>
                    <a href="#" class="hUsuarios">
                        <img src="/imagenes/rediseno/imagenes/comun/avatarF-ch.gif" />
                        <span>Nombre de usuario</span>
                    </a>
                    <a href="#" class="vermas">+ usuarios de pasatiempos</a>
                </div>

                <div class="solapaCalleSeparador" id="calleSeparadorUsuarios"></div><!-- líneas divisorias -->

                <div class="solapaCalle" id="calleMusicaUsuarios">
                    <div class="hUsuarioP">
                        <a href="#"><img src="/imagenes/rediseno/imagenes/comun/avatarM.gif" /></a>
                        <p><a href="#">GLAIMAN'S</a></p><br />
                        <span>Creó <a href="#">7 listas</a></span>
                    </div>
                    <a href="#" class="hUsuarios">
                        <img src="/imagenes/rediseno/imagenes/comun/avatarF-ch.gif" />
                        <span>Nombre de usuario</span>
                    </a>
                    <a href="#" class="hUsuarios">
                        <img src="/imagenes/rediseno/imagenes/comun/avatarF-ch.gif" />
                        <span>Nombre de usuario</span>
                    </a>
                    <a href="#" class="vermas">+ usuarios de pasatiempos</a>
                </div>

                <div class="solapaCalleSeparador" id="calleSeparadorUsuarios2"></div><!-- líneas divisorias -->

                <div class="solapaCalle" id="callePeliculasUsuarios">
                    <div class="hUsuarioP">
                        <a href="#"><img src="/imagenes/rediseno/imagenes/comun/avatarF.gif" /></a>
                        <p><a href="#">GLAIMAN'S</a></p><br />
                        <span>Creó <a href="#">7 listas</a></span>
                    </div>
                    <a href="#" class="hUsuarios">
                        <img src="/imagenes/rediseno/imagenes/comun/avatarF-ch.gif" />
                        <span>Nombre de usuario</span>
                    </a>
                    <a href="#" class="hUsuarios">
                        <img src="/imagenes/rediseno/imagenes/comun/avatarF-ch.gif" />
                        <span>Nombre de usuario</span>
                    </a>
                    <a href="#" class="vermas">+ usuarios de pasatiempos</a>
                </div>

                <div class="solapaCalleSeparador" id="calleSeparadorUsuarios3"></div><!-- líneas divisorias -->

                <div class="solapaCalle" id="callePasatiemposUsuarios">
                    <div class="hUsuarioP">
                        <a href="#"><img src="/imagenes/rediseno/imagenes/comun/avatarM.gif" /></a>
                        <p><a href="#">GLAIMAN'S</a></p><br />
                        <span>Creó <a href="#">7 listas</a></span>
                    </div>
                    <a href="#" class="hUsuarios">
                        <img src="/imagenes/rediseno/imagenes/comun/avatarF-ch.gif" />
                        <span>Nombre de usuario</span>
                    </a>
                    <a href="#" class="hUsuarios">
                        <img src="/imagenes/rediseno/imagenes/comun/avatarM-ch.gif" />
                        <span>Nombre de usuario</span>
                    </a>
                    <a href="#" class="vermas">+ usuarios de pasatiempos</a>
                </div>

            </div>

            <span class="hUsrUltAccTit">ÚLTIMAS ACCIONES DE USUARIOS:</span>

            <div class="hUsrUltAcc">
            <span class="hUsrUltAcc5"><a href="#">Usuario</a> realizó una acción <a href="#">en este módulo</a> ||</span>
            <span class="hUsrUltAcc4"><a href="#">Usuario</a> realizó una acción <a href="#">en este módulo</a> ||</span>
            <span class="hUsrUltAcc3"><a href="#">Usuario</a> realizó una acción <a href="#">en este módulo</a> ||</span>
            <span class="hUsrUltAcc2"><a href="#">Usuario</a> realizó una acción <a href="#">en este módulo</a> ||</span>
            <span class="hUsrUltAcc1"><a href="#">Usuario</a> realizó una acción <a href="#">en este módulo</a> ||</span>
	</div>
</div><!-- FIN usuarios -->