<div id="dTopRight">
<div class="dCompra">
<ul>
<span>
<tmpl_var precioFinal>
<!-- <p>tu precio</p>-->
</span>
<span><p>+ <tmpl_var puntosExtra> puntos
<img src="/imagenes/rediseno/imagenes/comun/detalleExtraLogo.gif" />
<a href="/fidelizacion/panel/index.jsp">ingresar a extra</a></p>
</span>
</ul>
<tmpl_if estaDisponible>	
	<a href="javascript:agregarProducto(<tmpl_var idArticulo>)">
		<div class="dComprarButton" title="Agregar al carrito"></div>
	</a>	
<tmpl_else>
	<img style="padding-left: 20px;cursor: pointer;" onclick="javascript:if (confirm('Este producto no esta disponible actualmente. Desea hacer un pedido?'))document.location = '/PedidoEspecial?ID_ARTICULO=<tmpl_var idArticulo>';" src="/imagenes/rediseno/imagenes/seccion<tmpl_var enSeccion>/b-pedir.png" alt="Pedir"/>	
</tmpl_if>
<a href="/ayuda/ayudaEstandar.jsp?url=/ayuda/enviosPlazos.jsp" target="_blank" class="dComprarEnvio">Ver costos de envío y Tiempos de Entrega</a>
</div>
</div>