<?xml version="1.0" encoding="ISO-8859-1" ?>
<rss xmlns:tmk="http://www.tematika.com.com/" xmlns:wfw="http://wellformedweb.org/CommentAPI/" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
	<channel>
		<title><tmpl_var channelTitle></title>
		<link><tmpl_var channelLink></link>
		<description><tmpl_var channelDescription></description>
		<copyright><tmpl_var channelCopyright></copyright>
		<pubDate><tmpl_var channelPubDate></pubDate>
		<image>
			<title><tmpl_var imageTitle></title>
			<url><tmpl_var imageUrl></url>
			<link><tmpl_var imageLink></link>
		</image>
		<ttl>10</ttl>
		<category domain="<tmpl_var categoryDomain>"><tmpl_var categoryDomain></category>
		<language><tmpl_var language></language>
		<generator><tmpl_var generator></generator>