<div class="<tmpl_var class>" id="divBarraDerecha">
<tmpl_if seccion1>
<a href="/libros" id="panelSeccLibros" title="Libros"><span></span></a>
</tmpl_if>
<tmpl_if seccion4>
<a href="/musica" id="panelSeccMusica" title="Música"><span></span></a>
</tmpl_if>
<tmpl_if seccion5>
<a href="/peliculas" id="panelSeccPeliculas" title="Películas"><span></span></a>
</tmpl_if>
<tmpl_if seccion3>
<a href="/juguetes" id="panelSeccPasatiempos" title="Pasatiempos"><span></span></a>
</tmpl_if>
<tmpl_if seccion200>
<a href="/sucursales" id="panelSeccSucursales" title="Sucursales"><span></span></a>
</tmpl_if>
<tmpl_if seccion300>
<a href="#" onclick="window.open('http://www.yenny-elateneo.com/index.php?idS=1');return false;" id="panelSeccQuid" title="Quid"><span></span></a>
</tmpl_if>
<tmpl_if seccion400>
<a href="/extra" id="panelSeccExtra" title="eXtra!"><span></span></a>
</tmpl_if>
</div>