<div class="solapaModulos"><!-- este div contiene a las calles de los comentarios -->
	<tmpl_loop articulos>
        <div class="solapaCalle" id="calleLibrosComents" style="height: 250px;">
              <div class="tapaContenedor">
                  <a href="<tmpl_var urlDetalle>">
                  	<img src="http://www.tematika.com/<tmpl_var urlImagen>" class="<tmpl_var class>">
                  </a>
                  <div class="tapaInfo" style="visibility: hidden;"></div>
              </div>
            <div class="hComentarios" id="comentarios01">
                  <!-- <a href="#"><tmpl_var comentador></a>  dijo sobre-->
                  <a ><tmpl_var comentador></a>  dijo sobre
                  <a href="<tmpl_var urlDetalle>" class="fTitulos"><tmpl_var titulo></a>
                  <span>
                  	<tmpl_var comentario>
                  </span>
            </div>
            <div class="calificacionMod">
                <span>Calificación del producto:</span>
                <tmpl_loop calificacionXArticulo>
             		<div class="<tmpl_var estrellaClass>"></div>                       	 			
              	</tmpl_loop>
            </div>
            <a href="/<tmpl_var enSeccion>#coment" class="vermas">+ comentarios de <tmpl_var enSeccion></a>
          </div>	
          <tmpl_if llevaLineaDivisora>
          	<div class="solapaCalleSeparador" id="calleSeparadorComents" style="height: 250px;"></div><!-- líneas divisorias -->
          </tmpl_if>
	</tmpl_loop>
</div>