<table align="center" cellpadding="0" cellspacing="0"><tr><td>
<form action="<tmpl_var action>" method="post" target="_blank" onsubmit="">
	<input type="hidden" name="IDCurrency" value="<tmpl_var IDCurrency>">
	<input type="hidden" name="Amount" value="<tmpl_var Amount>">
	<input type="hidden" name="IDMerchant" value="<tmpl_var IDMerchant>">
	<input type="hidden" name="Token"	value="<tmpl_var Token>">
	<input type="hidden" name="ExternalReference" value="<tmpl_var ExternalReference>">
	<input type="hidden" name="Password" value="<tmpl_var Password>">
	<input type="hidden" name="Txt1" value="">
	<input type="hidden" name="Txt2" value="">
	<input	type="hidden" name="Txt3" value="">
	<input type="image" width="200"  height="100" src="<tmpl_var logo>" name="submit" alt="Pagá con Arcash!">
</form>
</td></tr></table>