<div class="desactivado">
<tmpl_loop links><a href="http://<tmpl_var dominio>/articulo/detalleArticulo.jsp?idArticulo=<tmpl_var idArticulo>"><tmpl_var titulo></a><tmpl_var textoDe>
<tmpl_loop autores><a href="<tmpl_var urlAutor>"><tmpl_var autor></a></tmpl_loop>
</tmpl_loop>
<a href="http://<tmpl_var dominio>/libros">Libros</a>
<a href="http://<tmpl_var dominio>/juguetes">Musica</a>
<a href="http://<tmpl_var dominio>/pasatiempos">Pasatiempos</a>
<a href="http://<tmpl_var dominio>/peliculas">Peliculas</a>
</div>