<!-- CADA MENSAJE SEPARADO--> 
<a href="/ayuda/ayudaEstandar.jsp?url=/ayuda/enviosPlazos.jsp" class="dComprarEnvio">Envio gratis en tus compras desde $150.-</a>
<!-- a class="dComprarEnvio">Te gusta Tematika
<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FTematikacom%2F36958021889&amp;layout=standard&amp;show_faces=true&amp;width=200&amp;action=like&amp;font=tahoma&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:30px;" allowTransparency="true"></iframe>
</a-->
<!-- <a href="http://www.tematika.com/ayuda/ayudaEstandar.jsp?url=/ayuda/enviosPlazos.jsp?ID_ALIANZA=974&ID_SECCION=1288" class="dComprarEnvio">Envío gratis desde el 17 al 25 de Mayo</a>-->
